<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hezhe.springboot.mapper.DepartmentMapper">
    <!--public List<Department> getAllDepartment();
    -->
    <select id="getAllDepartment" resultType="com.hezhe.springboot.model.Department">
        select * from department
    </select>
</mapper>