<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hezhe.springboot.mapper.EmployeeMapper">
    <!--public List<EmployeeMapper> getAllEmp();
        public Employee getOneEmp(@Param("id") Integer id);
    -->
    <select id="getAllEmp" resultType="com.hezhe.springboot.model.Employee">
        select * from employee
    </select>

    <select id="getOneEmp" resultType="com.hezhe.springboot.model.Employee">
        select * from employee where id = #{id}
    </select>
</mapper>